<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCmFwdEphvCzhPc7wNDN2y1jSH6gAmaR40</string>
	<key>GCM_SENDER_ID</key>
	<string>640453357931</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cattleApp</string>
	<key>PROJECT_ID</key>
	<string>cattle-app-firebase</string>
	<key>STORAGE_BUCKET</key>
	<string>cattle-app-firebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640453357931:ios:9861817e36bf0cab30dc2e</string>
</dict>
</plist>